.center {
    text-align: center;
}

.prop{
  color: #26b95d;
  font-variant: small-caps;
  display: inline;
}

.observ{
  color: #1FD1D9;
  font-variant: small-caps;
  display: inline;
}

.important{
  color: red;
  display:inline;
  font-variant: small-caps;
}

.definition{
  color: blue;
  display:inline;
  font-variant: small-caps;
}

.box{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  padding: 10px;
  border: 2px solid gray;
}

.dem {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #c9b2f8;
  padding: 10px;
  font-size: 0.7em;
  color: black;
}


.r-code{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #F2F2F2;
  font-size: 0.7em;
  font-family: "Courier", monospace;
}

.example{
  color: black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #bfeeff;
  padding: 10px;
  font-size: 0.7em;
}

.example-sol{
  font-size: 0.7em;
}

.exercise{
  color: black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #92e394;
  padding: 10px;
  font-size: 0.7em;
}

.exercise-sol{
  font-size: 0.7em;
}

.phototext{
  font-size: 0.5em
}


.button{
    font-size: 1.2em;
    border-radius: 10px;
    background-color: #f44336;
    color: white;
    padding: 14px 14px;
    text-align: center; 
    text-decoration: none;
}

/*a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}*/